@import './base.css';

#app {
  background-color: aliceblue;
  padding: 10rem;
  font-weight: normal;
}





@media (min-width: 1024px) {
  body {
    background-color: aliceblue;
    display: box;
    place-items: center;
  }

  
}
